:root {
    --sidebars-height: calc(100dvh - 4px);
    --topbar-width: calc(100vw - 262px*2 - 4px);
    --marquee-big-width: calc(var(--topbar-width) - 70px - 2px);
    --messages-width: calc(100% - 10px);
    --message-max-width: calc(var(--topbar-width) - 50px);
    --textarea-width: calc(var(--topbar-width) - 60px);
    --topbar-mobile-width: calc(100vw - 4px);
    --marquee-big-mobile-width: calc(var(--topbar-mobile-width) - 70px - 6px - 25px*2);
    --message-mobile-max-width: calc(var(--topbar-mobile-width) - 50px);
    --textarea-mobile-width: calc(var(--topbar-mobile-width) - 60px);
    --marquee-big-mobile-small-width: calc(var(--topbar-mobile-width) - 50px - 6px - 25px*2);
}

nav#navbar {
    padding: 10px 0;
    width: 100vw;
}
div.navbar {
    padding: 10px;
}

div.bottom-margin {
    margin-bottom: 70px;
}

div#footer {
    padding-bottom: 10px;
    margin-top: 10px;
    gap: 30px;
}

div.panel {
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
div.box {
    gap: 7px;
}
div.container {
    gap: 5px;
}
div.input-feedback {
    gap: 1px;
}
div.small-gap {
    gap: 2px;
}

button {
    padding: 2px 4px 2px 4px;
    gap: 2px;
}

@media screen and (max-width: 850px) {
    div.panel {
        padding: 15px;
        margin-left: 2px;
        margin-right: 2px;
    }
    div.label-input {
        gap: 1px;
    }
}